* {
    padding: 0;
    margin: 0;
    border-width: 0;
    scroll-behavior: smooth;
}

:root {
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25), /*box-shadow settings*/
    0.125em 0.125em 0.25em rgba(0,0,0,.15)
}

/*body styling*/
body {
  color:  rgb(248, 71, 95);
  background-color: #333;
  font-family: 'Fredoka One', cursive;
}


/*nav_bar styling*/
#nav_bar {
    background: rgb(26, 26, 26);
}

#intro_section{
    display: flex;
    margin-right: 70px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



#logo, #Title {
    padding: 10px;
}

/*Intro Section Styling*/
#Title, .now_playing_header{
    font-family: 'Bebas Neue', cursive;
}

#Title {
    font-size: 3em;
}

.now_playing_header {
    font-size: 3em;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 70px;
    color: rgb(252, 254, 255);

}

.container_search {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_area{
    text-align: center;
    font-size: 16px; 
    width: 500px;
    margin: 0 auto;
    position: relative;
}

#search_button {
    background-color: #333;
    cursor: pointer;
    margin-top: 26px;
}

#search_button img {
    width: 40px;
    height: 40px;
    margin-top: 18px;
    margin-left: 10px;
}

.close-search-btn {
    background-color: #333;
    cursor: pointer;
    width: 30px;
    color: black;
    height: 30px;
    margin-top: 38px;
    margin-right: 10px;
}

#search-input{
    color: black;
    border-radius: 20px;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    padding: 10px;
    border: 3px solid rgb(0, 0, 0);
    background: rgb(156, 152, 152);
}

#search-input {
    border: 3px solid rgb(245, 38, 65);

}


/*logo styling*/
#logo {
 width: 150px;
 height: 70px;
}

/*Movie Section Styling*/
#movie-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: x-large;
    font-family: 'Staatliches', cursive;
}

.movie-card {
    flex: 0 1 20%;
    text-align: center;
    color: rgb(252, 254, 255);
    margin-bottom: 40px;
    
}
.movie-poster {
    border: 1px solid #333;
    transition: transform 400ms ease-in-out;
    box-shadow: var(--bs);
    margin-bottom: 10px;

}

.movie-poster:hover {
    border: 1px solid white;
    transform: scale(1.07);
}

.hidden {
    display: none;
}

/*rating logo start styling*/
.rating_icon {
    background: #333;
    width: 20px;
    height: 20px;
}

.container_btn {
    display: flex;
    justify-content: center;
    align-items: center;

}
.button, .back_up {
    text-align: center;
    margin: 10px 5px;
}

.button_link {
    text-decoration: none;
}


/*load more button styling*/
.load-more-movies-btn, .back_up_btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 200ms ease-in-out; 
    font-family: 'Fredoka One', cursive;

}

.success {
    background-color: rgb(39, 39, 39);
    color: white;
}

.success:hover {
    background-color: rgb(245, 38, 65);
    color: white;
    transform: scale(1.2);
}


/*modal styling*/


.movie_info_modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.movie_modal_content{
    width: 60%;
    text-align: center;
    margin: auto;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    position: relative ;
    background-color: #252323;
    margin: auto;
    padding: 180px 80px;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: rgb(255, 255, 255);
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  

 
/*back drop image styling*/
  .movie_trailer {
    object-fit: cover;
    display: block;
    width: 100%;
    margin: 0 auto;
  }

 .video {
    width: 50%;
 }

  .side_info, .movie_overview {
    line-height: 1.3em;
    font-size: 1.3em;

  }

  /*close buttons yling*/
  .close {
    text-align: center;
    margin-top:20px;
    margin-bottom: 10px;
  }

  .close_btn {
    padding: 20px 40px;
    background: rgb(222, 51, 51);
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Fredoka One', cursive;
  }

  .reveal {
    position: relative;
    transform: translateY(150px);
    transition: all 2s ease;
    opacity: 0;
}

.reveal.active{
    transform: translateY(0px);
    opacity:1;
}
